* {
    padding: 0;
    margin: 0;
}
#todoapp {
    width: 300px;
    margin: 0 auto;
}
#content {
    color: red;
}

#todo-list input.edit {
    display: none; /* Hides input box*/
}
#todo-list .editing label {
    display: none; /* Hides label text when .editing*/
}
#todo-list .editing input.edit {
    display: inline; /* Shows input text box when .editing*/
}

#todo-list .view .destroy {
    color: red;
}